@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*{
  font-family: 'Lateef', serif;
}
p,h1,h2,h3,h4,h5,h6,ul,li,div{
  font-family: 'Readex Pro', sans-serif;
}
